header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}